@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a90e2;
    padding: 0 30px;
    height: 70px;
}

.logo img {
    max-height: 110px;
    align-items: center;
    height: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    text-decoration: underline;
}

.destacar {
    background-color: #E61E4D;
    color: white !important;
    border-radius: 8px;       
    font-weight: bold;
    width: auto;              
    padding: 10px 20px;       
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: none;        
    cursor: pointer;          
    transition: background 0.3s ease;
}

.destacar:hover {
    background-color: #c61b44; 
}

.texto1 {
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20vh;    
}

.fpvc {
    text-align: center;
    margin-top: 30px;
}
.fpvc p {
    margin-bottom: 10px;
}

.tabelaplanos {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    padding: 0 20px;
    background-color: #DAEDFE;
}

.tabelaplanos table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);;
    border-radius: 10px; 
    overflow: hidden;
    font-size: 16px;
}

.tabelaplanos thead th {
    background-color: #4a90e2;
    color: white;
    padding: 10px;
    font-size: 18px;
}

.tabelaplanos tbody td {
    padding: 20px;
    border: 1px solid #e0e0e0;
    color: #333;
    text-align: center;
}

.tabelaplanos tbody tr:nth-child(even) {
    background-color: #f7faff;
}

.check {
    color: #2ecc71;
    font-size: 20px;
}

.destacar2 {
    background-color: #E61E4D;
    color: white !important;        
    border-radius: 8px;
    font-weight: bold;
    padding: 10px 20px;             
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);             
    cursor: pointer;
    transition: background 0.3s ease;
    text-decoration: none;
}

.destacar2:hover {
    background-color: #c61b44;
}

.faq {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
}

.faq h2 {
    text-align: center;
    margin-bottom: 20px;
}

.faq summary {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
}

.faq p {
    padding: 10px 15px;
    background-color: #ffffff;
    border-left: 3px solid #4a90e2;;
}

.footer {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 6px;
    padding: 20px 30px;             
    flex-wrap: wrap;
    background-color:#4A90E2; 
    text-align: left;       
}

.titulo {
    font-size: 26px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 25px;
    color: white;
}

.links {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
}

.links a, .links span {
    color:white;
    text-decoration: none;
    font-weight: 400;
    padding: 0 8px;
    border-left: 1px solid white;
}

.links a:first-child {
    padding-left: 0;
    border-left: none;           
}

.end {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.tel {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.email {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.direitos {
    margin-top: 15px;
    margin-bottom: 1px;
    color: white;
}